<!-- include("The date is")
Date.today.strftime("%A, %B %d, %Y"))
The date is Wednesday, November 18, 2015 -->

<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h1>Today</h1>
  </body>

</html>
