<!DOCTYPE html>
<html>

  <head>
  </head>

  <body>
    <% name = 'Joe' %>
    <h1>Goodbye <%= name %></h1>
  </body>
  
</html>
  




include("Goodbye Joe")
n this view, use ERB tags to create a variable name.
 This variable should store the name Joe. Then, using ERB tags, say "Goodbye Joe" in an h1